@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.header__block {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.header__logo {
  padding: 10px 16px;
}
.header__nav {
  display: flex;
}
.header__list {
  display: flex;
  padding: 0 0 0 138px;
}
.header__list li:last-child {
  margin-right: 0;
}
.header__link {
  margin: 20px 28px 20px 0;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button_btn {
  width: 143px;
  height: 44px;
  background-color: #575445;
  border-radius: 6px;
  margin-right: 20px;
}
.header__button_btn button:last-child {
  margin-right: 0;
}
.header__button_link {
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main {
  min-height: 600px;
  background: url(/img/img1.png) 0 0 no-repeat;
  display: flex;
}

.main__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  width: 416px;
  font-size: 48px;
  line-height: 57px;
  color: white;
}

.text {
  width: 495px;
  color: #CACCD1;
  font-size: 17px;
  line-height: 25px;
}